{
  "extends": ["@balsamic"],
  "overrides": [
    {
      "files": ["packages/esrun/**/*"],
      "rules": {
        "no-console": 0,
        "global-require": 0
      }
    },
    {
      "files": ["packages/dev/**/*"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "error"
      }
    }
  ]
}
